[package]
name = "ctb-openai"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
ctb-core = { path = "../ctb-core" }
reqwest.workspace = true
serde_json.workspace = true
tokio.workspace = true

[features]
default = []
